html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote::before, blockquote::after,
q::before, q::after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Do not write a css rule above here! Use the space below  */


/* Write your css below here */
* {
	box-sizing: border-box;
}

html {
	font-size: 16px;
}

body {
	width: 100%;
	font-family: Lato, sans-serif;
	background-color: #fff;
	color: #333333;
	line-height: 1.4;
}

a {
	text-decoration: none;
}

/***** NAV *****/

.nav-wrapper {
	background-color: #fff;
	padding: 15px 15px;
	width: 100%;
	position: sticky;
	top: 0;
	z-index: 1;
}

nav {
	display: flex;
	justify-content: space-between;
	font-size: 16px;
}

nav a {
	color: #333333;
}

.nav-left a {
	display: flex;
	align-items: center;
	gap: 8px;
}

.nav-left a:hover strong {
	color: #ff9b00;
}

.logo {
	background-color: #dadef5;
	height: 40px;
	width: 40px;
	font-size: 14px;
	border-radius: 50%;
	display: inline;
	padding: 10px;
	color: #0f1c70;
	margin-right: 5px;
}

.rating-digit {
	color: #925e07;
	font-weight: bold;
}

.nav-right {
	display: flex;
	align-items: center;
	gap: 15px;
}

.nav-right a {
	display: flex;
	align-items: center;
	gap: 10px;
	margin-left: 15px;
}

.nav-right a:nth-of-type(1):hover {
	color: #ff9b00;
}

.nav-right a:nth-of-type(2):hover .cart-icon,
.nav-right a:nth-of-type(2):hover .cart-text {
	stroke: #ff9b00;
	color: #ff9b00;
}

.nav-right .set-up-text,
.nav-right .cart-text {
	display: none;
}

.set-up-text {
	text-transform: uppercase;
	font-size: 12px;
	font-weight: bold;
	border-right: 1px solid #bdbdbd;
	padding: 5px 25px 5px 5px;
}

.cart-icon {
	stroke: #333333;
	stroke-width: 2.5;
}

.cart-text {
	font-weight: bold;
}

.nav-left a strong,
.nav-right a:nth-of-type(1),
.cart-icon,
.cart-text {
	transition: all 0.3s ease;
}

/***** SEARCH-BAR *****/

.main-wrapper {
	padding: 30px 15px 15px;
	width: 100%;
	margin: auto;
}

.search-bar {
	margin-bottom: 30px;
}

form {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.search-box,
.filter-box {
	background-color: #f1f1f1;
	height: 40px;
}

.search-box {
	width: 240px;
	padding: 5px 10px;
	display: flex;
	align-items: center;
}

.search-box svg {
	stroke: #4f4f4f;
	stroke-width: 2.5;
	margin-right: 3px;
}

input {
	background: none;
	border: none;
	outline: none;
	width: 100%;
	height: 100%;
}

input::placeholder {
	font-size: 14px;
}

.filter-box {
	width: 200px;
	padding: 10px;
	cursor: pointer;
}

.filter-box:hover select {
	color: #333333;
}

select {
	background: none;
	border: none;
	outline: none;
	width: 100%;
	height: 100%;
	font-size: 15px;
	color: #828282;
	font-weight: bold;
	cursor: pointer;
	transition: all 0.3s ease;
}

/***** SHOWCASE *****/

.showcase {
	display: grid;
	grid-template-columns: repeat(12, auto);
	/* grid-template-rows: repeat(10, auto); */
	column-gap: 15px;
	row-gap: 35px;
}

.card-primary {
	grid-column: span 12;
	/* grid-row: span 1; */
}

.card-secondary {
	grid-column: span 6;
	/* grid-row: span 1; */
}

.card-image {
	width: 100%;
	border-radius: 6px;
	overflow: hidden;
}

.card-primary .card-image {
	height: 350px;
}

.card-secondary .card-image {
	height: 180px;
}

.card-image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: all 0.3s;
}

.card-image img:hover {
	transform: scale(1.1);
}

.card-details {
	display: flex;
	flex-direction: column;
	padding: 10px 0 0;
}

.card-description {
	margin: 0 0 10px;
}

.card-title,
.card-title a {
	color: #828282;
}

.card-primary .card-title {
	font-size: 18px;
	margin: 0 0 11px;
}

.card-primary .card-price {
	font-size: 22px;
	display: flex;
	align-items: center;
}

.card-primary .card-price span:nth-of-type(2) {
	font-size: 13px;
	color: #828282;
	text-decoration: line-through;
	margin: 0 0 0 20px;
}

.card-secondary .card-title {
	font-size: 16px;
	margin: 0 0 6px;
}

.card-secondary .card-price {
	font-size: 14px;
	color: #4f4f4f;
	display: flex;
	flex-direction: column;
}

.card-secondary .card-price span:nth-of-type(2) {
	font-size: 13px;
	color: #828282;
	text-decoration: line-through;
}

.card-cta {
	display: flex;
	align-items: center;
	gap: 12px;
}

.card-cta button {
	border: none;
	outline: none;
	background: none;
	cursor: pointer;
	padding: 0;
}

.card-cta span {
	font-size: 14px;
}

/***** REVIEWS *****/

.reviews {
	margin-top: 60px;
    border-top: 1px solid #E0E0E0;
    padding-top: 80px;
    font-size: 16px;
    line-height: 24px;
    color: #4F4F4F;
}

.reviews-header {
	display: flex;
	align-items: center;
	gap: 5px;
	margin-bottom: 35px;
}

.reviews-header span:nth-of-type(2) {
	color: #925e07;
	font-weight: bold;
}

.reviews-body {
	display: flex;
	flex-direction: column;
}

.ratings-summary {
	display: flex;
	flex-direction: column;
	margin-bottom: 35px;
}

.stars {
	display: flex;
	flex-direction: column;
	gap: 20px;
	margin-bottom: 35px;

}

.star-group {
	display: flex;
	align-items: center;
}

.star-group span {
	width: 20%;
}

.progress-bar {
	width: 60%;
	height: 4px;
	background-color: #f2f2f2;
	border-radius: 10px;
	margin: 0 12px;
}

.ratings-breakdown {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.ratings-breakdown-body {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.ratings-group {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.ratings-group span:first-child {
	flex: 0.9;
}

/***** FOOTER *****/

.footer-wrapper {
	background-color: #f8f9fb;
	padding: 60px 15px 40px;
	font-family: Lato, sans-serif;
	color: #333333;
	line-height: 1.7;
	width: 100%;
	margin: 60px auto 0;
}

footer {
	display: flex;
	flex-direction: column;
	gap: 40px;
}

.footer-about p,
.footer-contact p {
	display: flex;
	flex-direction: column;
}

.footer-about p :nth-child(1) {
	margin: 0 0 6px;
	font-size: 0.938rem;
	color: #333333;
	font-weight: 600;
}

.footer-about p :nth-child(2) {
	color: #4f4f4f;
	text-transform: uppercase;
	margin: 0 0 9px;
	font-size: 0.688rem;
}

.footer-about p :nth-child(3) {
	color: #828282;
	text-transform: uppercase;
	font-size: 0.875rem;
}

.footer-contact span {
	color: #333333;
	text-transform: uppercase;
	margin: 0 0 15px;
	font-size: 0.938rem;
}

.footer-contact a {
	display: flex;
	/* CHECK: align items center not working */
	align-items: baseline;
}

.phone-icon {
	width: 16px;
	height: 16px;
	margin-right: 8px;
	fill: #4f4f4f;
}

.footer-contact a span {
	color: #4f4f4f;
	font-size: 0.875rem;
}

.footer-about p :nth-child(1):hover,
.footer-contact a span:hover {
	color: #ff9b00;
	transition: all 0.3s ease;
}

.footer-contact a span:hover .phone-icon {
	/* CHECK: hover effect not working */
	fill: #ff9b00;
}

/********** MEDIA QUERIES **********/

@media screen and (width >= 482px) {
	form {
		flex-direction: row;
		justify-content: space-between;
	}
}

@media screen and (width >= 576px) {
	nav,
	.main-wrapper,
	footer {
		width: 85%;
		margin: auto;
	}
}

@media screen and (width >= 600px) {
	.card-details {
		display: flex;
		flex-direction: row;
		align-items: flex-start;
		justify-content: space-between;
	}
}

@media screen and (width >= 767px) {
	.nav-right .set-up-text {
		display: initial;
	}
}

@media screen and (width >= 768px) {
	html{
		font-size: 18px;
	}

	.nav-right .cart-text {
		display: initial;
	}
}

@media screen and (width >= 800px) {
	.card-primary {
		grid-column: span 6;
	}
	
	.card-secondary {
		grid-column: span 4;
	}

	.card-primary .card-image {
		height: 500px;
	}

	.card-secondary .card-image {
		height: 250px;
	}
}

@media screen and (width > 1000px) {
	.reviews-body {
		flex-direction: row;
		justify-content: space-between;
	}

	.reviews-body > div:first-child {
		flex: 1;
	}

	.reviews-body > div:nth-of-type(2) {
		flex: 3;
	}

	.reviews-body > div:nth-of-type(3) {
		flex: 2;
	}
}

@media screen and (width > 1000px) {
	footer {
		flex-direction: row;
		gap: 470px;
	}
}

@media screen and (width >= 1200px) {
	nav,
	.main-wrapper,
	footer {
		max-width: 1200px;
	}

	.card-secondary {
		grid-column: span 3;
	}
}